# ambientes virtuais
venv/
.env/

# editor
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# modelos / checkpoints 
ml_service/first_model
#*.pt
#*.bin

ml_service/dataset/true
ml_service/dataset/fake
ml_service/model/
ml_service/src/results